body{
    margin: 0;
}
/* Header */
header{
    height: 50vh;
    display: grid;
}
header h1{
    margin: 0 20vw;
}
/* Description */
main{
    padding: 0 20vw;
}
#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Case Study */
