body{
    margin: 0;
}
/* Header */
header{
    height: 50vh;
}
/* Description */
#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}